In [1]:
my_str="hello world"

In [2]:
print(my_str[2])
print(my_str[6:])

l
world

In [3]:
cap_str = my_str.capitalize()
print(cap_str)
cent_str = my_str.center(30)
print(cent_str)

Hello world
         hello world

In [4]:
my_list=my_str.split()
print(my_list)
my_list2=cap_str.split()
print(my_list2)

['hello', 'world']
['Hello', 'world']

In [5]:
list_count=my_list.count("hello")
print(my_list)
print(list_count)
empty_list=my_list.clear()
print(empty_list)

['hello', 'world']
1
None

In [6]:
#print out 3rd letter of the list
list2=list(my_str)
print(list2)
print(list2[2])
print(list2[::-1])

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
l
['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

In [7]:
my_dict={"dogs":3,"cats":4,"alpacas":100}
print(my_dict)
my_dict={"dogs":3,"cats":4,"alpacas":100,"goat":20}
print(my_dict)

dict2=my_dict.copy()
print("dict 2:")
print(dict2)

my_dict.update({"cheese":"10"})
print(my_dict)

dogs=my_dict.get("dogs")
print(dogs)

{'dogs': 3, 'cats': 4, 'alpacas': 100}
{'dogs': 3, 'cats': 4, 'alpacas': 100, 'goat': 20}
dict 2:
{'dogs': 3, 'cats': 4, 'alpacas': 100, 'goat': 20}
{'dogs': 3, 'cats': 4, 'alpacas': 100, 'goat': 20, 'cheese': '10'}
3

In [8]:
def funct10():
    return 10

funct10()

10

In [9]:
def cube(arg1):
    return arg1**3

cube(2)

8

In [13]:
import math
def hyp(a,b):
    return ((a**2 + b**2)**(1/2))

hypotenuse = hyp(4,3)
print(hypotenuse)

5.0

In [15]:
def listy(dict):
    print(my_dict)
    return list(dict.values())

def listy2(dict):
    result=[]
    for key in dict:
        result.append(dict[key])
    return result

listy(my_dict)
listy2(my_dict)

{'dogs': 3, 'cats': 4, 'alpacas': 100, 'goat': 20, 'cheese': '10'}

[3, 4, 100, 20, '10']